<div class="flex justify-center flex-col">
  <img
    src="../../../assets/images/undraw_hire_re_gn5j.svg"
    alt="Pictogram of Employees"
    width="400vw"
    height="auto"
  />
    <h1 class="font-bold text-blue text-3xl tracking-widest flex justify-center mt-16">Welkom Bij Ema!</h1>
    <h3 class="font-extralight text-xl tracking-widest flex justify-center my-2">Het Employee Management Tool van Alembo</h3>
  <app-button class=" flex justify-center my-16 animate-pulse" color="blue" text="Ga Naar Medewerkersbeheer" routerLink="/medewerkersbeheer" routerLinkActive="active"></app-button>
</div>
