<!-- <app-button class=" flex justify-center my-8" color="blue" text="Medewerker Toevoegen" routerLink="add-medewerker"
    routerLinkActive="active"></app-button> -->
<div class="w-fit p-5 bg-white shadow-xl rounded-lg">
    <p-table #dt *ngIf="this.medewerkers" [columns]="cols" [value]="this.medewerkers" [paginator]="true" [rows]="10"
        sortMode="multiple" sortField="voornaam"
        [globalFilterFields]="['voornaam', 'achternaam', 'district', 'geslacht']">
        <ng-template pTemplate="caption">
            <div class="flex flex-row justify-left w-full items-center grid-cols-3 mb-1 h-24">
                <h2 class="font-semibold text-left text-xl w-7/12">Medewerkers</h2>
                <!-- add button -->
                <div class="w-2/12 justify-right">
                    <a class="w-full bg-blue text-center text-white rounded hover:bg-white hover:text-blue border-2 hover:border-blue focus:bg-white focus:text-blue focus:border-blue px-4 py-2"
                        [routerLink]="['add-medewerker']">Medewerker Toevoegen</a>
                </div>
                <!-- search input -->
                <div class="flex text-black w-3/12 h-10">
                    <div class="flex justify-center w-2/12 h-full text-white font-semibold text-center rounded-l bg-blue" type="text" disabled value="+597">
                        <img class="w-5" src="../../../assets/images/search_vector.svg" alt="search icon">
                    </div>
                    <input class="bg-gray h-full w-10/12 outline-none border-2 border-gray rounded-r h-10" type="text"
                        placeholder="Gegevens Zoeken" pInputText (input)="applyFilterGlobal($event, 'contains')" />
                    <!-- <input pInputText type="text" (input)="dt.filterGlobal($event.target.value, 'contains')" placeholder="Search keyword" /> -->
                </div>
            </div>
        </ng-template>
        <ng-template pTemplate="header" let-columns>
            <tr class="bg-blue text-white text-start w-84 h-12 rounded">
                <th class="text-left pr-12" *ngFor="let col of columns" [pSortableColumn]="col.field">
                    <span class="text-left w-full pl-1">{{ col.header }}</span>
                    <!-- <img class="w-8" src="../../../assets/images/filter_vector.png" alt="filter icon" width="100%" height="auto"> -->
                    <!-- <p-sortIcon [field]="col.field">
                    </p-sortIcon> -->
                </th>
                <th class="px-5"></th>
                <th class="px-5"></th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-medewerker let-columns="columns">
            <tr class="text-start font-light px-2 py-4 h-16 border-b-2 border-gray bg-white">
                <td class="px-2">{{ medewerker.voornaam }}</td>
                <td class="px-2">{{ medewerker.achternaam }}</td>
                <td class="px-2">{{ medewerker.geslacht }}</td>
                <td class="px-2">{{ medewerker.email }}</td>
                <td class="px-2">{{ medewerker.telefoon }}</td>
                <td class="px-2">{{ medewerker.straatnaam }}</td>
                <td class="px-2">{{ medewerker.huisnummer }}</td>
                <td class="px-2">{{ medewerker.district }}</td>
                <td class="px-2" class="font-normal {{
            medewerker.isActive ? 'text-green' : 'text-orange'
          }}">
                    {{ medewerker.isActive ? "Actief" : "Inactief" }}
                </td>
               
                <td class="px-2">
                    <a [routerLink]="['edit-medewerker', medewerker.id]"><div class="w-28 text-center bg-orange text-white rounded hover:bg-white hover:text-orange border-2 hover:border-orange focus:bg-white focus:text-orange focus:border-orange p-2">Bewerken</div></a>
                </td>
                <td class="px-2">
                    <a [routerLink]="[
              'change-medewerker-status',
              medewerker.id,
              medewerker
            ]"><div class="w-28 text-center text-white rounded p-2 border-2 {{
              medewerker.isActive
                ? 'bg-red hover:bg-white hover:text-red hover:border-2 hover:border-red focus:bg-white focus:text-redfocus:border-red '
                : 'bg-green hover:bg-white hover:text-green hover:border-2 hover:border-green focus:bg-white focus:text-green focus:border-2 focus:border-green '
            }}">{{ medewerker.isActive ? "Deactiveren" : "Activeren" }}</div></a>
                </td>
            </tr>
        </ng-template>
    </p-table>
</div>