<div class="flex justify-items-center flex-col w-full px-32">
  <div class="flex-col">
    <div class="w-full flex justify-center">

      <div class="w-1/4 h-24 items-center border-2 rounded-full bg-white flex justify-center {{ editMedewerkerForm.controls['isActive'] && editMedewerkerForm.controls['isActive'].value ? 'border-green' : 'border-orange' }}">
        <img class="w-1/2" width="100%" heigh="auto" src="../../../assets/images/person_vector.svg"
        alt="Pictogram van medewerker toevoegen" width="200vw" height="auto" />
      </div>
    </div>
    <span class="my-2 flex justify-center {{ editMedewerkerForm.controls['isActive'] && editMedewerkerForm.controls['isActive'].value ? 'text-green' : 'text-orange' }}">Medewerker is{{ editMedewerkerForm.controls['isActive'] && editMedewerkerForm.controls['isActive'].value ? ' Actief' : ' Inactief' }}</span>
  </div>  
    <form *ngIf="dataLoaded"
    class="flex justify-center my-8"
    [formGroup]="editMedewerkerForm"
    (submit)="updateMedewerker()"
  >
    <div [formGroup]="editMedewerkerForm">

      <div class="flex flex-col my-2">
        <label class="text-black my-2" for="isActive">Activeren / Deactiveren</label>
        <select
          name="isActive"
          formControlName="isActive"
          class="w-96 h-12 bg-gray text-black font-normal hover:bg-white rounded hover:border-2 hover:border-gray outline-none"
        >
          <option value="" selected disabled>Kies een status</option>
          <option value=true>Actief</option>
          <option value=false>Inactief</option>
        </select>
        <span *ngIf="editMedewerkerForm.controls['isActive'].errors && editMedewerkerForm.controls['isActive'].hasError('required') " class="text-red font-xs my-1">Een probleem heeft zich voorgedaan, kies een status</span>

      </div>


      <span class="text-blue font-semibold text-lg">Persoonlijke Gegevens</span>

      <div class="flex flex-col my-2">
        <label class="text-black my-2" for="voornaam">Voornaam</label>
        <input
          formControlName="voornaam"
          type="text"
          name="voornaam"
          placeholder="John"
          class="w-96 h-12 bg-gray text-black font-normal hover:bg-white rounded hover:border-2 hover:border-gray outline-none"
        />
        <span *ngIf="editMedewerkerForm.controls['voornaam'].errors && editMedewerkerForm.controls['voornaam'].hasError('required') " class="text-red font-xs my-1">Voer uw voornaam in!</span>
      </div>
      <div class="flex flex-col my-2">
        <label class="text-black my-2" for="achternaam">Achternaam</label>
        <input
          formControlName="achternaam"
          type="text"
          name="achternaam"
          placeholder="Doe"
          class="w-96 h-12 bg-gray text-black font-normal hover:bg-white rounded hover:border-2 hover:border-gray outline-none"
        />
        <span *ngIf="editMedewerkerForm.controls['achternaam'].errors && editMedewerkerForm.controls['achternaam'].hasError('required') " class="text-red font-xs my-1">Voer uw achternaam in!</span>

      </div>

      <div class="flex flex-col my-2">
        <label class="text-black my-2" for="geslacht">Geslacht</label>
        <select
          name="geslacht"
          formControlName="geslacht"
          class="w-96 h-12 bg-gray text-black font-normal hover:bg-white rounded hover:border-2 hover:border-gray outline-none"
        >
          <option value="" selected disabled>Kies een geslacht</option>
          <option value="Man">Man</option>
          <option value="Vrouw">Vrouw</option>
          <option value="Anders">Anders</option>
        </select>
        <span *ngIf="editMedewerkerForm.controls['geslacht'].errors && editMedewerkerForm.controls['geslacht'].hasError('required') " class="text-red font-xs my-1">Kies een geslacht in!</span>

      </div>
      <span class="text-blue font-semibold text-lg">Contact Gegevens</span>
      <div class="flex flex-col my-2">
        <label class="text-black my-2" for="email">Email</label>
        <input
          formControlName="email"
          type="email"
          name="email"
          placeholder="johndoe@gmail.com"
          class="w-96 h-12 bg-gray text-black font-normal hover:bg-white rounded hover:border-2 hover:border-gray outline-none"
        />
        <span *ngIf="editMedewerkerForm.controls['email'].errors && editMedewerkerForm.controls['email'].hasError('required') " class="text-red font-xs my-1">Voer uw email-adres in!</span>

      </div>
      <div class="flex flex-col my-2">
        <label class="text-black my-2" for="telefoon">Telefoon</label>
        <input
          formControlName="telefoon"
          type="number"
          name="telefoon"
          placeholder="8987854"
          class="w-96 h-12 bg-gray text-black font-normal hover:bg-white rounded hover:border-2 hover:border-gray outline-none"
        />
        <span *ngIf="editMedewerkerForm.controls['telefoon'].errors && editMedewerkerForm.controls['telefoon'].hasError('required') " class="text-red font-xs my-1">Voer uw telefoonnummer in!</span>
        <span *ngIf="editMedewerkerForm.controls['telefoon'].errors && editMedewerkerForm.controls['telefoon'].hasError('minlength') " class="text-red font-xs my-1">Het telefoonnummer heeft niet genoeg cijfers!</span>

      </div>
      <span class="text-blue font-semibold text-lg">Woonplaats</span>
      <div class="flex flex-col my-2">
        <label class="text-black my-2" for="straatnaam">Straatnaam</label>
        <input
          formControlName="straatnaam"
          type="text"
          name="straatnaam"
          placeholder="Surinamestraat"
          class="w-96 h-12 bg-gray text-black font-normal hover:bg-white rounded hover:border-2 hover:border-gray outline-none"
        />
        <span *ngIf="editMedewerkerForm.controls['straatnaam'].errors && editMedewerkerForm.controls['straatnaam'].hasError('required') " class="text-red font-xs my-1">Voer uw straatnaamin!</span>

      </div>
      <div class="flex flex-col my-2">
        <label class="text-black my-2" for="huisnummer">Huisnummer</label>
        <input
          formControlName="huisnummer"
          type="text"
          name="huisnummer"
          placeholder="5a"
          class="w-96 h-12 bg-gray text-black font-normal hover:bg-white rounded hover:border-2 hover:border-gray outline-none"
        />
        <span *ngIf="editMedewerkerForm.controls['huisnummer'].errors && editMedewerkerForm.controls['huisnummer'].hasError('required') " class="text-red font-xs my-1">Voer uw huisnummer in!</span>
        
      </div>
      <div class="flex flex-col my-2">
        <label class="text-black my-2" for="district">District</label>
        <select
          name="district"
          formControlName="district"
          class="w-96 h-12 bg-gray text-black font-normal hover:bg-white rounded hover:border-2 hover:border-gray outline-none"
        >
          <option value="" selected disabled>Kies een district</option>
          <option value="Brokopondo">Brokopondo</option>
          <option value="Commewijne">Commewijne</option>
          <option value="Coronie">Coronie</option>
          <option value="Marowijne">Marowijne</option>
          <option value="Nickerie">Nickerie</option>
          <option value="Para">Para</option>
          <option value="Paramaribo">Paramaribo</option>
          <option value="Saramacca">Saramacca</option>
          <option value="Sipaliwini">Sipaliwini</option>
          <option value="Wanica">Wanica</option>
        </select>
        <span *ngIf="editMedewerkerForm.controls['district'].errors && editMedewerkerForm.controls['district'].hasError('required') " class="text-red font-xs my-1">Voer uw district in!</span>

      </div>
        <app-button
          type="submit"
          class="flex justify-center my-16 hover:animate-pulse"
          color="blue"
          text="Opslaan"
          [disabled]="!editMedewerkerForm.valid && !editMedewerkerForm.dirty "
        ></app-button>
    </div>
  </form>  
</div>